
html,body{
    background-color: #F7F7F7;
    height:100%;
}
button.link { background:none;border:none; }

.white-container{
    background-color: white;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    min-height:80%;
}

.right-border{
    border-right: 1px solid gray;
}
